.SearchPageContent {
    background-color: #2B293A;
    align-items: center;
    height: 95vh;
    width: auto;
}

.SearchResults {
    background-color: #2b2936;
    align-items: center;
    padding: 2%;
}

.SearchResultsTitle {
    height: 55px;
    align-items: center;
    font-weight: bold;
    background-color: #4d4b58;
    border-style: solid;
    border-color: #18161f;
    border-width: 3px;
}

.SearchResultsPublicaciones {
    background-color: #242230;
    border-style: solid;
    border-color: #18161f;
    border-width: 3px;
}

.SearchResultsUsuario {
    background-color: #242230;
    border-style: solid;
    border-color: #18161f;
    border-width: 3px;
}

.ListItem {
    background-color: #4d4b58;
    align-items: flex-start;
}

.ListItemRow {
    display: flex;
    align-items: center;
}

.IconoPublicacion, .IconColumn, .FotoPerfilUsuario {
    background-color: #4d4b58;
}

.ItemImage, .ImagenPerfil {
    width: 60px;
    height: 60px;
}

.TituloPublicacion, .NombreUsuario {
    height: 22px;
    background-color: #4d4b58;
    color: white;
    align-items: flex-start;
}

.DetallesPublicacion {
    background-color: #4d4b58;
    color: white;
    align-items: flex-start;
}

.DetallesUsuario {
    background-color: #4d4b58;
    color: white;
    align-items: flex-start;
}

.ListLink:hover {
    background-color: #5c5a68;
}

#EmptyLeftColumn {
    background-color: red;
}

#EmptyRightColumn {
    background-color: red;
}

#SearchResultsColumn {
    background-color: #242230;
    height: fit-content;
    border-style: solid;
    border-radius: 10px;
    border-color: #18161f;
    border-width: 10px;
    padding: 2%;
    margin-top: 20px;
}

#PublicacionesList, #UsuariosList {
    width: 100%;
    background-color: #4d4b58;
    margin-top: 1%;
    margin-bottom: 1%;
}