*{margin: 0; padding: 0;}

header{
    width: 100%;
    overflow: hidden;
    background:black;
    margin-bottom: 20px;
    justify-content: center;

}

.wrapper{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;

}

header .logo{
    float: left;
    line-height: 100px;
}

header .divBusqueda{
    position: relative;
    align-items: center;
    flex-direction: row;
    float: center;
    line-height: 100px;

}

header .divBotonBuscar{
    float: center;
    
}

header .divBotonLogin{
    float: right;
    
}
header .divBotonRegistrarse{
    float: right;
}

#btnIngresar{
    float: right;
    line-height: px;
}



