html {
    background-color: #2B293A;
}

.UserRegistryContent {
    background-color: #2B293A;
    max-height: auto;
    align-items: center;
}

.formColumn {
    display: flex;
    align-items: center;
    height: auto;
    width: auto;
}

.imageColumn {
    max-height: auto;
}

#UserInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.FormLabel {
    display: grid;
    text-align: center;
    width: 130%;
}

.FormControlInput {
    text-align: center;
    width: 130%;
}

#ImagenFondo {
    max-width: 100%;
    height: auto;
}