html {
    background-color: #2B293A;
}

.UserRegistryContent {
    background-color: #2B293A;
    max-height: auto;
    align-items: center;
}

.formColumn {
    height: 100%;
}

.imageColumn {
    max-height: 100%;
}

.BasicEmailGroup {
    align-items: center;
}

#BasicEmailLabel {
    color: white;
    text-align: center;
}

#ImagenFondo {
    max-width: 100%;
    height: auto;
}