.CreatePublicationContent {
    background-color: #2B293A;
    align-items: center;
    height: 95vh;
    width: auto;
}

.BodyRow {
    height: 100%;
}

#EmptyLeftColumn {
    background-color: blue;
}

#CreatePublicationColumn {
    background-color: #2B293A;
}

#EmptyRightColumn {
    background-color: blue;
}

#FormContainer {
    background-color: #242230;
    padding: 3%;
}