.FormControlInput {
    color: white;
    text-align: center;
    width: auto;
    color: black;
    
}

.ContenedorCrearPublicacion{
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .File{
     align-items: center;
 }

.imputPublicacion{
    color: black;
}





