.bodyCard{
    margin: 8px;
    background-color: #607397;
    border-radius: 5%;
    height: fit-content;
    width: 14rem;
}

.buttonCard{
    background-color: cornflowerblue;
}

.ImageCard{
    border-radius: 10%;
    height: 210px;
}
