.bodyCard{
    background-color: #607397;
    border-radius: 5%;
    height: 19rem;
    width: 14rem;
}

.buttonCard{
    background-color: cornflowerblue;
}

.ImageCard{
    border-radius: 10%;
    height: 210px;
}
