dl {
    width: 100%;
}

dt {
    width: 50%;
    padding: 4px;
    margin: 0;
    float: left;
}

dd {
    width: 50%;
    padding: 4px;
    margin: 0;
    float: right;
}

.PerfilContent {
    height: 100vh;
    background-color: #2B293A;
}

.BodyRow {
    height: 100%;
}

.Capsula {
    border-radius: 10px;
}

.Publicacion {
    margin: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px;
    width: fit-content;
    height: fit-content;
    background-color: #0e0d13;
}

.Publicacion:hover {
    background-color: #2e2c38;
}

.PublicacionImage {
    width: 98px;
    height: 98px;
}

.ProfileImage {
    width: 225px;
    height: 200px;
}

.InformacionUsuarioCabezaRow {
    padding-top: 5px;
    align-items: center !important;
}

#EmptyLeftColumn {
    background-color: thistle;
}

#UserInfoColumn {
    height: fit-content;
    width: fit-content;
    border-style: solid;
    border-color: #18161f;
    border-width: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: #242230;
}

#UserPublicationsColumn {
    height: fit-content;
    width: fit-content;
    border-style: solid;
    border-color: #18161f;
    border-width: 10px;
    border-radius: 10px;
    margin: 10px;
    background-color: #242230;
}

#EmptyRightColumn {
    background-color: thistle;
}

#InformacionUsuarioPrincipal {
    margin: 7px;
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 4px;
    width: 300px;
    height: fit-content;
    background-color: #2b2936;
}

#InformacionUsuarioCabeza {
    width: 280px;
    height: 245px;
    margin: 5px;
    text-align: center;
    background-color: #1a1824;
}

#InformacionUsuarioCuerpo {
    width: 280px;
    height: 180px;
    margin: 5px;
    margin-bottom: 10px;
    padding: 0px;
    padding-left: 5px;
    background-color: #1a1824;
    color: white;
}

#ProfileImageRow {
    padding-left: 15px;
}

#ModifyContainer {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 298px;
    height: fit-content;
    background-color: #2b2936;
}

#EditarButton {
    width: 100%;
}

#PublicacionesUsuario {
    width: 700px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: #2b2936;
}

#PublicacionesTitle {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 10px;
    background-color: #1a1824;
}

#Publicaciones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 10px;
    background-color: #1a1824;
}