label {
    color:white;
}

.icon-img {
    width: 70px;
    height: 70px; 
    margin-bottom: 2rem; 
}

.btn-primary {
    color: #fff;
    background-color: #CF3C3C !important;
    border-color: #CF3C3C !important;
}

.UserInfoColumn {
    align-items: center;
    text-align: center;
}

.LigasContainer {
    text-align: center;
    background-color: #2B293A !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.UserInputForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.BasicFormInputGroup {
    align-items: center;
    margin: 8px;
}

.BasicFormInputGroup #inputUsuario {
    width: 300px;
}

#bodyLogin {
    background-color: #2B293A;
}

#ContenedorPrincipal {
    background-color: #2B293A;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#ImagenFondo {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150%;
}