.icon-img{
    width: 70px;
    height: 70px; 
    margin-bottom: 2rem; 

}

.btn-primary {
    color: #fff;
    background-color: #CF3C3C !important;
    border-color: #CF3C3C !important;
}

#ContenedorPrincipal{

background-color: #2B293A;

}

#ImagenFondo{
    width: auto;
    height: auto;

}